@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-table > #checkbox {
    @apply grid justify-center w-full relative
}
.badge-success,.badge-danger{
    @apply flex items-center justify-center gap-x-1 rounded-md text-base font-medium ring-1 ring-inset px-2 min-w-[theme(spacing.6)] py-1
}
.badge-success{
    @apply bg-green-50 text-green-600 ring-green-600/10 dark:bg-green-400/10 dark:text-green-400 dark:ring-green-400/30
}

.badge-danger{
    @apply bg-red-50 text-red-600 ring-red-600/10 dark:bg-red-400/10 dark:text-red-400 dark:ring-red-400/30
}

.thead{
    @apply bg-zinc-50 dark:bg-white/5 !px-3 !py-4 sm:first-of-type:!ps-6 sm:last-of-type:!pe-6 font-semibold text-zinc-950 dark:text-white
}
.tbody{
    @apply 
    border-t border-zinc-200 dark:border-white/5 
    py-4 px-3 sm:first-of-type:!ps-6 sm:last-of-type:!pe-6
}

.checkbox{
    @apply 
    !absolute !transform !-translate-x-1/2 !-translate-y-1/2 !top-1/2 !left-1/2
    !w-5 !h-5 !aspect-square 
    !rounded !border-none bg-white shadow-sm 
    ring-1 
    transition duration-75 
    checked:ring-0 
    focus:ring-2 
    focus:ring-offset-0 
    dark:focus:ring-offset-0
    dark:bg-white/5
    !text-amber-600 
    ring-zinc-950/10 
    focus:!ring-amber-600 
    checked:focus:ring-amber-500/50 
    dark:text-amber-500 
    dark:ring-white/20 
    dark:checked:!bg-amber-500 
    dark:focus:ring-amber-500 
    dark:checked:focus:ring-amber-400/50
}